{% block errorMessages %}
<!-- UX - Messages, warnings or errors -->
<div class="margin-top-form">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <span class="{{ category }}">{{ message }}</span>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if form.email.errors %}
      {% for error in form.email.errors %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  {% endif %}
  
</div>
{% endblock %}