{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2>{% block headerText %}{{ headerText | safe }}{% endblock %}</h2>
    <div>
        <p>Historic data showing variations of my weight since I moved to London.<br>
            Vertical bars represent trips I have done in these years, mostly to my hometown in Spain.<br>
            The idea is to identify a relationship between visiting Spain and putting on weight... ;)
        </p>
    </div>
    {{ bokehDivComponent | safe }}
  </div>
  <div class="col-xs-12 col-md-4">
    <aside>
      <h3>Select a range of dates to show in the graphic</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Starting Date</label>
          <input type="date" class="form-control" id="fromDate1" placeholder="From">
          <label for="exampleInputPassword1">Ending Date</label>
          <input type="date" class="form-control" id="toDate1" placeholder="To">
          <p class="help-block"><br/></p>
        </div>
        <button type="submit" class="btn btn-default">Show</button>
      </form>
    </aside>
  </div>
</div>

{% endblock %}