<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            {% if titleText %}
                {{ titleText | safe }} - 
            {% endif %}
            {{ config.WEB_TITLE }}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block static %}{% endblock %}
    <script src="{{ cdn_javascript | safe }}"></script>
    </head>
<body>

    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <header><h1 class="logo">{{ config.WEB_HEADER_NAME }}</h1></header>
            
            <nav class="navbar navbar-default navbar-fixed-top">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/" class="btn btn-default" role="button">Home</a></li>
                  <li><a href="{{ url_for('historical') }}" class="btn btn-default" role="button">Historical</a></li>
                  <li><a href="{{ url_for('about') }}" class="btn btn-default" role="button">About</a></li>
                  <li><a href="{{ url_for('all_routes') }}" class="btn btn-default" role="button">Routes</a></li>
                  <li><a href="{{ url_for('auth_bp.login') }}" class="btn btn-default" role="button">Access Area</a></li>
                </ul>
            </nav>
          </div>
        </div>
        
        {% block errors %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <!-- UX - Messages, warnings or errors -->
            <div class="hoovering">
              <a href="{{ redirectHoovering | safe}}{{ success | safe }}" class="close" >X</a>
              {% for category, message in messages %}
                <span>{{ message }}</span>
              {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
        {% endblock errors %}

        {% block body %}

        {% endblock %}

        <div class="row">
          <div class="col-xs-18 col-md-12">
            <footer><p>This is footer</p></footer>
          </div>
        </div>
    </div>
    {{ bokehScriptComponent | safe }}
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>