{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-4">
    <h1>{% block headerText %}{{ headerText | safe }}{% endblock %}</h1>
    <p>{{ messageText | safe }}</p>
  </div>
  <div class="col-xs-12 col-md-4">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2>Side menu</h2>

    <form action="{{ url_for('auth_bp.logout') }}" method="POST">

      <button type="submit" class="btn btn-default">
        logout
      </button>

    </form>

  </div>
  <div class="col-xs-12 col-md-4">
    <h2>My stats</h2>
  </div>
  <div class="col-xs-12 col-md-4">
    <form>
      <div class="form-group hidden">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <p class="help-block">Maybe a button to say "Include file" and show hidden input</p>
      <div class="form-group">
        <label for="exampleInputFile">Upload a file</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Only csv or txt files are admitted</p>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

{% endblock %}



















