<h3>List of weights</h3>
<div class="weight-list">
    {{ fDeleteWeight.csrf_token }}
    <ul>
      {% if weights %}
        {% for w in weights %}
          <li>
            <form action="{{ url_for('.deleteWeight') }}" method="POST">
              {{ fDeleteWeight.weightId(value=w.id) }}
              {{ fDeleteWeight.submit(class='btn btn-default') }} {{ w.weight }} - {{ w.weight_date}}  
            </form>
          </li>
          <hr class="row-separated">
        {% endfor %}
      {% endif %}
    </ul>
</div>