/* TRIPS SECTION
****************************************************************/

.bg-img-trips {
    background: url('/trip/static/images/planes-wallpaper.jpg') red;
    background-size: 900px auto;
    min-height: 300px;
}

.border-grey {
    border: solid 2px darkgrey;
}

.border-top-sm {
    border-top: solid 1px lightgrey;
    margin-top: 5px;
}

.border-top-md {
    border-top: solid 3px darkgrey;
    margin-top: 10px;
}