<!-- <div class="row"> -->
    <div class="btn-group pull-right" role="group">
        <a role="button" class="btn btn-default" disabled=""><p>EDIT PANEL</p></a>
    </div>
<!-- </div> -->

<form action="{{ url_for('trip_bp.edit') }}" class="" method="POST">
    {{ fAddTrip.csrf_token }}


    {{ fAddTrip.tripId }}


    <h3>TE VEO Departure</h3>
    <div class="form-group">
        {{ fAddTrip.departure_origin.label }} {{ fAddTrip.departure_origin(class='form-control', placeholder='From') }}

        {{ fAddTrip.departure_destination.label }} {{ fAddTrip.departure_destination(class='form-control', placeholder='To') }}

        {{ fAddTrip.departure_date.label }} {{ fAddTrip.departure_date(class='form-control', placeholder='2000-01-01') }}
    </div>

    <h3>Return</h3>
    <div class="form-group">

        {{ fAddTrip.return_origin.label }} {{ fAddTrip.return_origin(class='form-control', placeholder='From') }}

        {{ fAddTrip.return_destination.label }} {{ fAddTrip.return_destination(class='form-control', placeholder='To') }}

        {{ fAddTrip.return_date.label }} {{ fAddTrip.return_date(class='form-control', placeholder='2000-01-01') }}

    </div>

    <h3>Trip Companions</h3>
    <div class="form-group">

        {{ fAddTrip.passenger_companion.label }} {{ fAddTrip.passenger_companion(class='form-control', placeholder='Comma separated names or empty') }}

    </div>

<!-- </form> -->
<br>
<div class="btn-group pull-right" role="group">
    
    <!-- <form action="{{ url_for('trip_bp.edit') }}" class="btn-group" method="POST"> -->
        {{ fAddTrip.tripId(value=fAddTrip.tripId.data) }}
        <button type="submit" class="btn btn-info float-right" title="Update trip">
            <span class="hidden">Confirm</span> <!-- if css disabled show this -->
            <span class="glyphicon glyphicon-ok"></span>
        </button>

    </form>
    <a role="button" class="btn btn-info" href="{{ url_for('trip_bp.main') }}" target="_self" title="Cancel">
        <span class="hidden">Cancel</span> <!-- if css disabled show this -->
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    {{ fDeleteTrip.csrf_token }}    
    <form action="{{ url_for('trip_bp.delete') }}" class="btn-group" method="POST">
        {{ fDeleteTrip.tripId(value=fAddTrip.tripId.data) }}
        <button type="submit" class="btn btn-info float-right" title="Delete this trip.">
            <span class="hidden">Delete</span> <!-- if css disabled show this -->
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
</div>
<!-- 

<button type="submit" class="btn btn-info">
    <span class="glyphicon glyphicon-pencil" title="Edit this trip."></span>
</button> -->