{% extends "./trip/trip-layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3 class="pull-right">{% block headerText %}{{ current_user.name | safe }}, {{ headerText | safe }}{% endblock %}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2">
        <h1>Trips</h1>
        {% include "./dashboard/menu-dashboard.html" %}
    </div>
    <div class="col-xs-12 col-md-10 bg-img-trips">
        <div class="col-xs-12 col-md-8">
            {% include "trip/trips-graph.html" ignore missing with context %}
        </div>
        <div class="col-xs-12 col-md-4">
            {% if fUploadFile %}
                {% include "trip/upload-file.html" ignore missing with context %}
            {% else %}
                {% include "trip/edit-panel.html" ignore missing with context %}
            {% endif %}
        </div>       
    </div>
  </div>

{% endblock %}