<h2>Upload your trips</h2>
<form action="{{ url_for('trip_bp.upload') }}" class="margin-top-form" method="POST" enctype="multipart/form-data">
  {{ fUploadFile.csrf_token }}
  <div class="form-group">
    {{ fUploadFile.file.label }}
    {{ fUploadFile.file(class='form-control') }}
  </div>
  {{ fUploadFile.submit(class='btn btn-default') }}
</form>

{% if fUploadFile.file.errors %}
  <div class="hoovering">
    <a href="{{ redirectHoovering | safe}}" class="close" >X</a>
    {% for error in fUploadFile.file.errors %}
    <h5>{{ error }}</h5>
    {% endfor %}
  </div>
{% endif %}