<h2>Add a new weight</h2>
<form action="{{ url_for('weight_bp.main') }}" class="margin-top-form" method="POST">
  {{ fAddWeight.csrf_token }}
  
  {{ fAddWeight.weightId(value=default.id) }}

  <div class="form-group">
    {{ fAddWeight.weight.label(class='pull-right') }}
    {{ fAddWeight.weight(class='form-control', placeholder='0.000', value=default.weight) }}
  </div>

  <div class="form-group">
    {{ fAddWeight.weightDate.label(class='pull-right') }}
    {{ fAddWeight.weightDate(class='form-control', placeholder='2000-01-01', value=default.date) }}
  </div>

    <a role="button" class="btn btn-info pull-right" href="{{ url_for('weight_bp.main') }}" target="_self" title="Cancel">
        <span class="hidden">Cancel</span> <!-- if css disabled show this -->
        <span class="glyphicon glyphicon-remove"></span>
    </a>

    <button type="submit" class="btn btn-info pull-right">
        <span class="hidden">Save</span> <!-- if css disabled show this -->
        <span class="glyphicon glyphicon-ok" title="Save new weight"></span>
    </button>

</form>

{% if fAddWeight.weight.errors or fAddWeight.weightDate.errors %}
  {% set errors = fAddWeight.weight.errors if fAddWeight.weight.errors else fAddWeight.weightDate.errors %}
  
  <div class="hoovering">
    <a href="{{ redirectHoovering | safe}}" class="close" title="Close">X</a>
    {% for error in errors|unique %}
      <h5>{{ error }}</h5>
    {% endfor %}
  </div>

{% endif %}
