{% extends "./weight/weight-layout.html" %}

{% block body %}
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3 class="pull-right">{% block headerText %}{{ current_user.name | safe }}, {{ headerText | safe }}{% endblock %}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2">
        <h1>Weights</h1>
        {% include "./dashboard/menu-dashboard.html" %}
    </div>
    <div class="col-xs-12 col-md-10 bg-img-trips">
        <div class="col-xs-12 col-md-8">
            Include weigths graph
        </div>
        <div class="col-xs-12 col-md-4">
            if include crud panel or upload
        </div>       
    </div>
  </div>

{% endblock %}